@using BOOking.DAL.Entities;
@using BOOking.MVC.Models;
@{
    HomeViewModel model = Model;
    var staysBackImage = model.StaysBackImages;
    var explore = model.Explores;
  
}

 <!-- Back ground image and heading -->
<div id="Stays_backimage">
    <div id="backimage">
        <div>
            @foreach (var item in staysBackImage)
            {
                <p class="heading">@item.Title</p>
                <p class="tagline">@item.Description</p>
                <a asp-controller="@item.BtnUrl" asp-action="index">@item.BtnTitle</a>
            }
           
        </div>
    </div>
</div>



<!-- SEARCHBOX START -->
<!-- Search bar  -->
<section id="Stays_search">
    <div id="searchBar">
        <div id="searchCity" class="col-xs-12">
            <i class="fa-solid fa-bed"></i>
            <input id="query" type="text" placeholder="Where Are You Going?">
        </div>
        <div id="dates" class="col-xs-12">
            <p>Checkin</p><input id="skCheckin" type="date" name="trip-start" value="2023-09-5" min="2023-08-29" max="2024-03-31">
            <p>Checkout</p><input id="skCheckout" type="date" name="trip-start" value="2023-09-10" min="2023-09-10" max="2024-03-31">
        </div>
        <div id="skPerson">
            <i class="fa-solid fa-user"></i>
            <p id="adult"></p><span>Adult</span>
            <p id="child"></p><span>Child</span>
            <p id="room"></p><span>Room</span>
        </div>
        <div class="searchBtn" class="col-xs-12">
            <button id="searchBtn">Search</button>
        </div>
    </div>
    <div class="searchPopUp" id="searchpopupdiv">
        <!-- <p id="closesearch">Close</p> -->
        <div class="sgnCityBak">
            <div id="cityicon">
                <i class="fa-solid fa-location-dot"></i>
                <option id="SearchOptionBaku" value="baku"><a asp-controller="baku" asp-action="index">Baku</a></option>
            </div>
            <p>Azerbaijan</p>
        </div>
        <div class="sgnCityDivQab">
            <div id="cityicon">
                <i class="fa-solid fa-location-dot"></i>
                <option id="SearchOptionQabala" value="qabala">Qabala</option>
            </div>
            <p>Azerbaijan</p>
        </div>
        <div class="sgnCityDivQuba">
            <div id="cityicon">
                <i class="fa-solid fa-location-dot"></i>
                <option id="SearchOptionQuba" value="quba">Quba</option>
            </div>
            <p>Azerbaijan</p>
        </div>
        <div class="sgnCityDivShek">
            <div id="cityicon">
                <i class="fa-solid fa-location-dot"></i>
                <option id="SearchOptionShek" value="sheki">Sheki</option>
            </div>
            <p>Azerbaijan</p>
        </div>
    </div>
    <!-- increse decrese the values of number of persons -->
    <div class="popup" id="skPersonDiv">
        <p id="cross">Close</p>
        <div id="AdultDiv">
            <p>Adult</p>
            <form action="" id="adultsForm">
                <div class="value-button" id="decreaseAdult" value="Decrease Value"><span id="minus">-</span></div>
                <input type="number" id="Adultnumber" value="1" />
                <div class="value-button" id="increaseAdult" value="Increase Value"><span id="plus">+</span></div>
            </form>
        </div>
        <div id="childDiv">
            <p>Child</p>
            <form action="" id="childForm">
                <div class="value-button" id="decreaseChild" value="Decrease Value"><span id="minus">-</span></div>
                <input type="number" id="Childnumber" value="0" />
                <div class="value-button" id="increaseChild" value="Increase Value"><span id="plus">+</span></div>
            </form>
        </div>
        <div id="roomDiv">
            <p>Rooms</p>
            <form action="" id="roomsForm">
                <div class="value-button" id="decreaseRoom" value="Decrease Value"><span id="minus">-</span></div>
                <input type="number" id="Roomnumber" value="0" />
                <div class="value-button" id="increaseRoom" value="Increase Value"><span id="plus">+</span></div>
            </form>
        </div>

    </div>
    </div>
</section>

<!-- SEARCHBOX END -->
<!-- OFFERS START  -->
<div id="RecentSearches"></div>
<div class="offers">
    <h2 id="offerH2">Offers</h2>
    <p id="offerP">Promotions, deals and special offers for you</p>
</div>

<section id="offers">
    <div id="promo">
        <div id="ladywithLap">
            <img src="https://q-xx.bstatic.com/psb/capla/static/media/long_stays_banner_wide.a1b12d47.png" alt="">
            <div id="textpromo">
                <p id="escape">Escape for a While</p>
                <p id="enjoy">Enjoy the freedom of a monthly stay on Bookit.com</p>
                <button id="exploreBtn">Discover monthly Stays</button>
            </div>
        </div>
        <div id="promoApp">
            <div id="abotApp">
                <p id="every">Every part of your trip in one app</p>
                <p id="findthe">Find the best accommodations, flights and more on the free BOOKit.com app.</p>
                <button id="appBtn">Get the App</button>
            </div>
            <div id="appImg">
                <img src="https://q-xx.bstatic.com/xdata/images/xphoto/500x500/178968129.jpeg?k=52539cb8ac165dd6904836ac7f5474223f043df7ef00a7ad1f5feb35d2384613&o=" alt="">
            </div>
        </div>
    </div>
</section>
<!-- OFFERS END  -->
 

<!-- TREND START -->
<div id="RecentSearches"></div>
<div class="offers">
    <h2 id="offerH2">Trending destinations</h2>
    <p id="offerP">Most popular choices for travellers from Azerbaijan</p>
</div>

<section id="trend">
    <div id="collage1">
        <div id="collage_img1"><a asp-controller="baku" asp-action="index"><p class="collage_heading">Baku<img src="https://w7.pngwing.com/pngs/478/548/png-transparent-flag-of-azerbaijan-azerbaijanis-flag-of-azerbaijan-flag-sphere-republic.png" alt=""></p></a></div>
        <div id="collage_img2"><a asp-controller="gabala" asp-action="index"><p class="collage_heading">GABALA <img src="https://w7.pngwing.com/pngs/478/548/png-transparent-flag-of-azerbaijan-azerbaijanis-flag-of-azerbaijan-flag-sphere-republic.png" alt=""></p></a></div>
    </div>

    <div id="collage2">
        <div id="collage2_img1"><a asp-controller="sheki" asp-action="index"><p class="collage_heading">Sheki <img src="https://w7.pngwing.com/pngs/478/548/png-transparent-flag-of-azerbaijan-azerbaijanis-flag-of-azerbaijan-flag-sphere-republic.png" alt=""></p></a></div>
        <div id="collage2_img2"><a asp-controller="samaxi" asp-action="index"><p class="collage_heading">Samaxi <img src="https://w7.pngwing.com/pngs/478/548/png-transparent-flag-of-azerbaijan-azerbaijanis-flag-of-azerbaijan-flag-sphere-republic.png" alt=""></p></a></div>
        <div id="collage2_img3"><a asp-controller="shahdag" asp-action="index"><p class="collage_heading">Shahdaq <img src="https://w7.pngwing.com/pngs/478/548/png-transparent-flag-of-azerbaijan-azerbaijanis-flag-of-azerbaijan-flag-sphere-republic.png" alt=""></p></a></div>
    </div>
</section>

<!-- TREND END -->
<!-- EXPLORE START -->
<div id="RecentSearches"></div>
<div class="offers">
    <h2 id="offer2">Explore Azerbaijan</h2>
    <p id="offerP">These popular destinations have a lot to offer</p>
</div>


<section id="explore_carousel">
   
        <div id="explore_container">
            @foreach(var item in explore)
    {
        <div class="explore_carousel_img_container"><a asp-controller="@item.PageUrl" asp-action="index"><img src="@item.ImageUrl"></a><p class="explore_heading">@item.Title</p><p class="explore_desc">@item.PropertiesCount</p></div>
       
    }
    </div>
    
    <i class="fa-solid fa-angle-left" id="ltexarrow"></i>
    <i class="fa-solid fa-angle-right" id="rtexarrow"></i>
</section>
<!-- EXPLORE END -->
<!-- BROWSER START -->
<div id="RecentSearches"></div>
<div class="offers">
    <h2 id="offer2">Browse by property type</h2>
</div>



<section id="browse_carousel">
    <div id="browse_container">
        <div class="browse_img_card">
            <a href="">
                <img src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/57584488.jpeg?k=d8d4706fc72ee789d870eb6b05c0e546fd4ad85d72a3af3e30fb80ca72f0ba57&o="><p class="browse_heading">Hotels</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    196 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://r-xx.bstatic.com/xdata/images/hotel/263x210/119467716.jpeg?k=f3c2c6271ab71513e044e48dfde378fcd6bb80cb893e39b9b78b33a60c0131c9&o="><p class="browse_heading">Apartments</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    161 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/45450084.jpeg?k=f8c2954e867a1dd4b479909c49528531dcfb676d8fbc0d60f51d7b51bb32d1d9&o="><p class="browse_heading">Resorts</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    7 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://r-xx.bstatic.com/xdata/images/hotel/263x210/100235855.jpeg?k=5b6e6cff16cfd290e953768d63ee15f633b56348238a705c45759aa3a81ba82b&o="><p class="browse_heading">Villas</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    5 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/45450113.jpeg?k=76b3780a0e4aacb9d02ac3569b05b3c5e85e0fd875287e9ac334e3b569f320c7&o="><p class="browse_heading">Holiday homes</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    4 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450073.jpeg?k=795a94c30433de1858ea52375e8190a962b302376be2e68aa08be345d936557d&o="><p class="browse_heading">Guest houses</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    3 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450082.jpeg?k=beb101b827a729065964523184f4db6cac42900c2415d71d516999af40beb7aa&o="><p class="browse_heading">Hostels</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    16 available
                </p>
            </a>
        </div>
        <div class="browse_img_card">
            <a href="">
                <img src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450056.jpeg?k=251e2507d43a24a4c58bb961b8d157147d56efbf91b49f9606bc768c58f581e4&o="><p class="browse_heading">B&Bs</p><p class="browse_desc">
                    30 Aug-2 Sept, 2 adults
                    2 available
                </p>
            </a>
        </div>
        <div class="browse_img_card"><a href=""><img src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/45450066.jpeg?k=4adfab312f5d26da9f81da48d8c95ca8f108215b2c84085590891a9e0e17b144&o="><p class="browse_heading">Homestays</p><p class="browse_desc">Unavailable for your dates</p></a></div>
        <div class="browse_img_card"><a href=""><img src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/45450103.jpeg?k=a1fa72362160b1df6e288050afa7ce1aade80871acd368ddd4a4ebf6ad87764e&o="><p class="browse_heading">Country houses</p><p class="browse_desc">Unavailable for your dates</p></a></div>
        <div class="browse_img_card"><a href=""><img src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450095.jpeg?k=cd5e46e632dab722d22217813485efde31fbe82f5f26a624166edccdbe8187bc&o="><p class="browse_heading">Boats</p><p class="browse_desc">Unavailable for your dates</p></a></div>
    </div>
    <i class="fa-solid fa-angle-left" id="ltbrarrow"></i>
    <i class="fa-solid fa-angle-right" id="rtbrarrow"></i>
</section>
<!--  BROWSER END -->
<!--  Quick Start -->
<div id="RecentSearches"></div>
<div class="offers">
    <h4 id="offerH4">Quick and easy trip planner</h4>
    <p id="offerP">Pick a vibe and explore the top destinations in Azerbaijan</p>
</div>

<section id="travel_all">

    <div id="travel_options">
        <div id="des_opt1"><span id="travel_icons_btn " class="material-symbols-outlined">apartment</span> <span id="travel_options_title">city</span></div>
        <div id="des_opt2"><span id="travel_icons_btn" class="material-symbols-outlined">favorite</span> <span id="travel_options_title">Romance</span></div>
        <div id="des_opt3"><span id="travel_icons_btn " class="material-symbols-outlined">beach_access</span> <span id="travel_options_title">Beach</span></div>
        <div id="des_opt4"><span id="travel_icons_btn outdoors_btn" class="material-symbols-outlined">directions_bike</span> <span id="travel_options_title">Outdoors</span></div>
        <div id="des_opt5"><span id="travel_icons_btn " class="material-symbols-outlined">spa</span> <span id="travel_options_title">Relax</span></div>
    </div>

    <div id="Travel">
        <div id="Travel_container">
            <div id="city">
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140050975.jpg?k=199651add50b8eada9c51b9f5bde5b2a85d676fda6298c5f5455c99ffea23aad&o="><p class="travel_heading">Peledo, Itlay</p><p class="travel_desc">4.1 Km away</p></a></div>
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140041661.jpg?k=ed8dab08e2b8e53b7914dba9284ff048bd4a0eca7b683c6a0abffbe1cb3b0cc2&o="><p class="travel_heading">Tanaunella, Itlay</p><p class="travel_desc">4.1 Km away</p></a></div>
            </div>

            <div id="romance">
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140045010.jpg?k=add40a1b3d2b9b5f42006114c5f9a195e371490f46339ee65b02520e7eb8a7dc&o="><p class="travel_heading">Stari Grad, Crotia</p><p class="travel_desc">4.1 Km away</p></a></div>
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140025854.jpg?k=8f9aacfe8aa4252145b708d404730de171eec7b809fa76fe5b35c6d958465823&o="><p class="travel_heading">Saint_martin-de-Bromes, France</p><p class="travel_desc">4.1 Km away</p></a></div>
            </div>

            <div id="beach">
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140042637.jpg?k=7f0d1450879be276d9f6dc22c87b18d53adfa2d07aa989d399fdf959ed36f6f6&o="><p class="travel_heading">Partinico, Itlay</p><p class="travel_desc">4.1 Km away </p></a></div>
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140044693.jpg?k=a25905b4001b6f436c6cd35c5e4f46fcf8d66e129f66475995b9b0358a40d6a5&o="><p class="travel_heading">Amendloro, Itlay</p><p class="travel_desc">4.1 Km away </p></a></div>
            </div>

            <div id="outdoors">
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140028840.jpg?k=5487dcc8f363ef382bed6172eebee6d6d5b44dfedba01f4614dba9e1fce38ff4&o="><p class="travel_heading">Charnay-les-Macon, France</p><p class="travel_desc">4.1 Km away</p></a></div>
            </div>

            <div id="relax">
                <div class="Travel_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/800x640/140028840.jpg?k=5487dcc8f363ef382bed6172eebee6d6d5b44dfedba01f4614dba9e1fce38ff4&o="><p class="travel_heading">Charnay-les-Macon, France</p><p class="travel_desc">4.1 Km away</p></a></div>
            </div>

        </div>
    </div>

</section>

<!--  Quick End -->
<!-- INSPIRATION START -->

<section id="Inspiration">
    <div id="Get_inspiration_headDiv">
        <h1>Get inspiration for your next trip</h1>
        <a href="#"><p class="Get_inspiration_desc">More</p></a>
    </div>

    <div id="inspiration_carousel">
        <div id="inspiration_carousel_container">
            <div id="inspiration_carousel_card1" class="inspiration_carousel_card">
                <a href="#">
                    <p id="carousel_card_heading">Europe's 10 most festive Christmas Market</p>
                    <p id="carousel_card_desc">Enjoy potenet mulled wine in slazburg and sugar-dusted gingerbread in Valkenburg</p>
                </a>
            </div>
            <div class="inspiration_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/720x405/184529020.webp?k=523c6409bb82a2e318cb05124a1947a1774a5403f8bbf39c6cd9e3168a9650f1&o=" alt=""><p class="inspiration_carousel_card_heading">Top 5 spots to visit in Vietnam for Tet</p><p class="inspiration_carousel_card_desc">Welcome the new year with tropical islands-hopping and treaks past trumbling...</p></a></div>
            <div class="inspiration_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/540x405/183822860.webp?k=362dfa460c134ee5d8610a54bc5a132e75ad6249d9bbafc51694558c75f55669&o=" alt=""><p class="inspiration_carousel_card_heading">Japan's 6 most spectacular onsen</p><p class="inspiration_carousel_card_desc">With surreal views ranging from misty mountians to pacific sun rises framed by...</p></a></div>
            <div class="inspiration_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/540x405/182452067.webp?k=b231e6c8aa7925656d812f61c9707720c49ace11cbca264e05ce351e9f3011ed&o=" alt=""><p class="inspiration_carousel_card_heading">48 hours in Tokoyo, Japan</p><p class="inspiration_carousel_card_desc">The perfect 2-day itinerary for Japan's captivating Capital.</p></a></div>
            <div class="inspiration_carousel_card"><a href=""><img src="https://cf.bstatic.com/xdata/images/xphoto/700x350/181912109.webp?k=dc150994e53938fbfd4205914021f0d35c2a401ad8869e06db7cf9ab9206d85a&o=" alt=""><p class="inspiration_carousel_card_heading">6 must-see historic towns and cities in Brazil</p><p class="inspiration_carousel_card_desc"></p>Featuring captivating old towns, gold-painted and epic carnivals.</a></div>
        </div>
        <i class="fa-solid fa-angle-left" id="ltinsarrow"></i>
        <i class="fa-solid fa-angle-right" id="rtinsarrow"></i>
    </div>
</section>

<!-- INSPIRATION END -->
<!-- UNIQUE START -->

<div id="RecentSearches"></div>
<div class="offers">
    <h1 id="offerH2">Stay at our top unique properties</h1>
    <p id="offerP">From castles and villas to boats and igloos, we've got it all</p>
</div>

<section id="unique">

    <div id="unique_properties_carousel">
        <div id="unique_properties_container">
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/286659200.webp?k=9206fc9239b3e4538c22d04b85213d6d5e6257015022de8a37effd956fcde4b6&o=&s=1"><p class="unique_properties_heading">La Roulotte de ciney</p><p class="unique_properties_desc">Belgium, ciney</p><p class="unique_properties_review"><span>8.4</span> Very good . 84 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/280950287.webp?k=b984c542b8b1a2ee0e019e4491da338a85b660caa10c5e1197225c5f3052d629&o=&s=1"><p class="unique_properties_heading">Wiersyzki</p><p class="unique_properties_desc">Ploand, Zakopane</p><p class="unique_properties_review"><span>9.7</span> Exceptional . 94 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/132452060.webp?k=8448bab55c87dbb42ab7c6643fbbce542124c908f63f6b36dc3cdc859e60cb0a&o=&s=1"><p class="unique_properties_heading">Ranco w Dolinie</p><p class="unique_properties_desc">poland< Kiszkowo</p><p class="unique_properties_review"><span>9.5</span> Exceptional . 217 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/187855604.webp?k=bbb45aa5b540c7608ea3af52d92b95a215df9af831dd3ae0e4c4cce501e28b1b&o=&s=1"><p class="unique_properties_heading">Tiny House</p><p class="unique_properties_desc">Germany, Trier</p><p class="unique_properties_review"><span>9.6</span> Exceptional. 134 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/178421525.webp?k=262301cdcbef1d33942bb02607906eafdee8dde3106ac5732966a206baeebb04&o=&s=1"><p class="unique_properties_heading">Das Rote Haus hinterm Deich</p><p class="unique_properties_desc">Germany, Simonsberg</p><p class="unique_properties_review"><span>9.3</span> Superb . 51 reviews</p></div>
            <div class="unique_properties_card col-lg-3 "><img src="https://cf.bstatic.com/xdata/images/hotel/square600/126764303.webp?k=1887d9e0a796fe553436a57823a481ed3584310d6a940e69cc8db875b110ae66&o=&s=1"><p class="unique_properties_heading">Agriturismo Cabrele</p><p class="unique_properties_desc">Italy, Santorso</p><p class="unique_properties_review"><span>9.4</span> Superb . 184 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/356256733.webp?k=d26e6f029087ccbccf4057b95461d46e7ae18d2aa3dd4247ff6b0a148c10bc33&o=&s=1"><p class="unique_properties_heading">Mini Hotel Ubernachtem</p><p class="unique_properties_desc">Germany, Lubbenau</p><p class="unique_properties_review"><span>8.3</span> VeryGood . 114 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/154543781.webp?k=ad89bc70ec138736b22947f52b7e0ecbac176026e13c50646147303582d94bcd&o=&s=1"><p class="unique_properties_heading">Carinya Park</p><p class="unique_properties_desc">Australia, Gembrook</p><p class="unique_properties_review"><span>9.4</span> Superb . 31 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/332074170.webp?k=9e07443aa7ca1a35645b6572aef736095c3bffbd5e8b00c7633f0578a6c2ec3a&o=&s=1"><p class="unique_properties_heading">Au Coer des lacs & spa</p><p class="unique_properties_desc">France, Gerardmer</p><p class="unique_properties_review"><span>9.4</span> Superb . 273 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/92356437.webp?k=9696d60e5b732b17d934f3bddfb71e553dfb8960add90d3e0392968a4e93cfc4&o=&s=1"><p class="unique_properties_heading">La Sapinette</p><p class="unique_properties_desc">Canada, Val-David</p><p class="unique_properties_review"><span>8.8</span> Fabulous . 44 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/101174842.webp?k=515b19cd29852207a9e6add777068c1df7931a0dc58ddb80b36af9b605a3a00d&o=&s=1"><p class="unique_properties_heading">MFC Erfurter Seen</p><p class="unique_properties_desc">Germany, Erfurt</p><p class="unique_properties_review"><span>8.2</span> Very Good . 137 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/101984388.webp?k=7762aab2bce82e357fb58f497ac63a0736a71e21d266b30cbd1cd14a00bb88af&o=&s=1"><p class="unique_properties_heading">Finca Esperanza</p><p class="unique_properties_desc">Spain, Yaiza</p><p class="unique_properties_review"><span>9.1</span> Superb . 119 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/73425718.webp?k=9b94b5d27f08138674d3ffd26102dfcabdcac68387586e2d42777515bb39a27f&o=&s=1"><p class="unique_properties_heading">Auberge La Seigneurie</p><p class="unique_properties_desc">Canada, Saint-Gavriel-de Valcartier</p><p class="unique_properties_review"><span>8.1</span> Very good . 156 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/106411975.webp?k=53597242e9727e6e44a618b8edbc222c39b6937ac1bbe76761e24a2d796aed62&o=&s=1"><p class="unique_properties_heading">Lofthus Camping</p><p class="unique_properties_desc">Norway, Lofthus</p><p class="unique_properties_review"><span>9.4</span> Superb . 300 reviews</p></div>
            <div class="unique_properties_card col-lg-3"><img src="https://cf.bstatic.com/xdata/images/hotel/square600/73425718.webp?k=9b94b5d27f08138674d3ffd26102dfcabdcac68387586e2d42777515bb39a27f&o=&s=1"><p class="unique_properties_heading">Apartment Droga na Bystre 9a</p><p class="unique_properties_desc">Ploand, Zakopane</p><p class="unique_properties_review"><span>8.6</span> Fabulous . 194 reviews</p></div>
        </div>
        <i class="fa-solid fa-angle-left" id="ltuparrow"></i>
        <i class="fa-solid fa-angle-right" id="rtuparrow"></i>
    </div>

</section>

<!-- UNIQUE END -->
<!-- HOMES QUESTS START -->

<div id="RecentSearches"></div>
<div class="offers">
    <h1 id="offerH2">Homes guests love</h1>
</div>

<section id="home_guests">

    <div id="home_guests_carousel">
        <div id="home_guests_container">
            <div class="home_guests_card col-lg-3"><a href=""></a><img src="https://cf.bstatic.com/xdata/images/hotel/square600/13125860.webp?k=35b70a7e8a17a71896996cd55d84f742cd15724c3aebaed0d9b5ba19c53c430b&o="><p class="home_guests_heading">Aparthotel Stare Miasto</p><p class="home_guests_desc">Old Town, Poland, Kraków</p><p class="home_guests_review"><span>8.7</span> Fabulous · 2,458 reviews</p><p class="home_guests_price">Starting from <span>AZN 173</span></p></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/87428762.webp?k=de5db8fe94cbfe08d3bf16d3c86def035fd73b43ee497cffe27b03363764e0e2&o="><p class="home_guests_heading">7Seasons Apartments Budapest</p><p class="home_guests_desc">06. Terézváros, Hungary, Budapest</p><p class="home_guests_review"><span>8.7</span>Fabulous · 8,697 reviews</p><p class="home_guests_price">Starting from <span>AZN 178</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""></a><img src="https://cf.bstatic.com/xdata/images/hotel/square600/219678884.webp?k=157c38ddc243fa7cb18562a9eb64197bba6c5ed52adfd792a1d623b8bef28144&o="><p class="home_guests_heading">Oriente Palace Apartments</p><p class="home_guests_desc">Centero, Spain, Madrid</p><p class="home_guests_review"><span>9.6</span> Fabulous . 2,466 reviews</p><p class="home_guests_price">Starting from <span>AZN 174</span></p></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/29466558.webp?k=7f9cf4736f69b30c20fa7a751bb8711fa195bc9ff6092d5412d52daf6cada17f&o="><p class="home_guests_heading">numa I Vita Apartments</p><p class="home_guests_desc">Frtezza da Basso, Itlay, florence</p><p class="home_guests_review"><span>9.4</span> Superb . 134 reviews</p><p class="home_guests_price">Starting from <span>AZN 927</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/113439601.webp?k=76bbdaa33d55d671beb8d3d156790c62a5649a31b125aaab88b6e14ea0c9cdfb&o="><p class="home_guests_heading">Aparthotel stare Miasto</p><p class="home_guests_desc">Rambla Beach Barcelona Apartments</p><p class="home_guests_review"><span>8.1</span> Very Good . 51 reviews</p><p class="home_guests_price">Starting from <span>AZN 211</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/183852241.webp?k=3a158afd2930797344dbf60c34929dfe4b288b3ad8ddf6eb6bf09ea0a0f580da&o="><p class="home_guests_heading">3 Epoques Apartments By Prague Residence</p><p class="home_guests_desc">Prague 1, czech Rebulic</p><p class="home_guests_review"><span>9.2</span> Fabulous . 403 reviews</p><p class="home_guests_price">Starting from <span> AZN 148</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/477085213.webp?k=29caadf3e1563bb00c8f93a2af40946a5205edd01343aeb5703ff6740613f747&o="><p class="home_guests_heading">Cheval Three Quays at the tower of London</p><p class="home_guests_desc">city of Londo, U.K.</p><p class="home_guests_review"><span>8.7</span> Superb . 1,114 reviews</p><p class="home_guests_price">Starting from <span>AZN 219</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/477071028.webp?k=c9d87661dfac89970e50379629aa316a4905033f8f4a13cb21fd28484256d626&o="><p class="home_guests_heading">Tempolva 6 Old Apertments</p><p class="home_guests_desc">Prague 1, czech Rebulic</p><p class="home_guests_review"><span>8.3</span> Superb . 131 reviews</p><p class="home_guests_price">Starting from <span>AZN 225</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/126708403.webp?k=a137138b895d53d9c0cd31f99f272b833b605441d0670a40c24007fdbb45bb70&o="><p class="home_guests_heading">Au Coer des lacs & spa</p><p class="home_guests_desc">France, Gerardmer</p><p class="home_guests_review"><span>8.1</span> Superb . 273 reviews</p><p class="home_guests_price">Starting from <span>AZN 165</span></p></a></div>
            <div class="home_guests_card col-lg-3"><a href=""><img src="https://cf.bstatic.com/xdata/images/hotel/square600/163520923.webp?k=e6752b79b6e5823a18cd8f348a52ac7ffb5126aa8737b4e06b50118d5b706e8f&o="><p class="home_guests_heading">La Sapinette</p><p class="home_guests_desc">Canada, Val-David</p><p class="home_guests_review"><span>8.3</span> Fabulous . 44 reviews</p><p class="home_guests_price">Starting from <span>AZN 850</span></p></a></div>
        </div>
        <i class="fa-solid fa-angle-left" id="lthgarrow"></i>
        <i class="fa-solid fa-angle-right" id="rthgarrow"></i>
    </div>


</section>

<!-- HOMES QUESTS END -->
<!-- DISCOUNT START -->
<section id="get_discounts">
    <img src="~/img/Globe.png" alt="special offer logo">
    <div id="discounts_container">
        <p id="discounts_container_heading">Get instant discounts</p>
        <p id="discounts_container_desc">Simply sign into your Booking.com account and look for the blue Genius logo to save</p>
        <button id="discounts_container_Signinbtn">Sign In</button>
        <button id="discounts_container_regbtn">Register</button>
    </div>
</section>

<!-- DISCOUNT END  -->
<!-- DISCOVER HOMES START col-md-6 col-sm-6 col-xs-12 -->

<section id="discover_homes">
    <div class="col-md-12" id="discover_homes_in">
        <div class="left_circle col-md-6 col-sm-6 col-xs-12">
            <a class="fnd" href="">
                <span>Find homes for your next trip</span>
            </a>
            <a class="disc" target="_blank" href="/index.html">Discover homes</a>
        </div>
        <div class="right_cat col-md-6 col-sm-6 col-xs-12">
            <a href=""><img src="~/img/cat_chair_image.b4347622.png" alt=""></a>
        </div>
    </div>
</section>

<!-- DISCOVER HOMES START -->
<!-- Destinations we love -->
<h1 class="headtag">Destinations we love</h1>

<div id="destination_categories">
    <div id="des_cate1" class="des_cate">Regions</div>
    <div id="des_cate2" class="des_cate">Cities</div>
    <div id="des_cate3" class="des_cate">Places of Interest</div>
</div>

<div id="destinations">
    <div id="destinations_categorie1">
        <div class="des_cat">
            <a class="des_head" href="/index.html">Guernsey</a>
            <p class="dest_desc">61 properties</p>
            <a class="des_head" href="/index.html">Jersey</a>
            <p class="dest_desc">89 properties</p>
            <a class="des_head" href="/index.html">Texel</a>
            <p class="dest_desc">410 properties</p>
            <a class="des_head" href="/index.html">Hawaii</a>
            <p class="dest_desc">5,516 properties</p>

        </div>
        <div class="des_cat">
            <a class="des_head" href="/index.html">Bihar</a>
            <p class="dest_desc">763 properties</p>
            <a class="des_head" href="/index.html">England</a>
            <p class="dest_desc">74,114 properties</p>
            <a class="des_head" href="/index.html">Jersey</a>
            <p class="dest_desc">89 Properties</p>
            <a class="des_head" href="/index.html">Zanzibar</a>
            <p class="dest_desc">835 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="/index.html">Uttar Pradesh</a>
            <p class="dest_desc">4,388 properties</p>
            <a class="des_head" href="/index.html">Ibiza</a>
            <p class="dest_desc">1,651 Properties</p>
            <a class="des_head" href="/index.html">Ras Al Khaimah</a>
            <p class="dest_desc">114 Properties</p>
            <a class="des_head" href="/index.html">Mykonos</a>
            <p class="dest_desc">1,452 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="/index.html">Texel</a>
            <p class="dest_desc">411 Properties</p>
            <a class="des_head" href="/index.html">Tenerife</a>
            <p class="dest_desc">9,626 Properties</p>
            <a class="des_head" href="/index.html">Cornwall</a>
            <p class="dest_desc">5,726 Properties</p>
            <a class="des_head" href="/index.html">Phuket province</a>
            <p class="dest_desc">5,501 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="/index.html">Lake District</a>
            <p class="dest_desc">24,026 Properties</p>
            <a class="des_head" href="/index.html">Santorini</a>
            <p class="dest_desc">1,762 Properties</p>
            <a class="des_head" href="/index.html">Bora Bora</a>
            <p class="dest_desc">59 Properties</p>
        </div>
    </div>


    <div id="destinations_categorie2">
        <div class="des_cat">
            <a class="des_head" href="">Milton Keynes, United Kingdom</a>
            <p class="dest_desc">206 holiday rentals, 64 cottages, 63 villas</p>
            <a class="des_head" href="">Sheffield, United Kingdom</a>
            <p class="dest_desc">195 holiday rentals, 67 cottages, 66 villas</p>
            <a class="des_head" href="">Nottingham, United Kingdom</a>
            <p class="dest_desc">293 holiday rentals, 108 cottages, 104 villas</p>
        </div>

        <div class="des_cat">
            <a class="des_head" href="">Bristol, United Kingdom</a>
            <p class="dest_desc">412 holiday rentals, 114 cottages, 106 holiday homes</p>
            <a class="des_head" href="">Heathrow, United Kingdom</a>
            <p class="dest_desc">195 holiday rentals, 67 cottages, 66 villas</p>
            <a class="des_head" href="">Belfast, United Kingdom</a>
            <p class="dest_desc">265 holiday rentals, 83 cottages, 82 holiday homes</p>
        </div>

        <div class="des_cat">
            <a class="des_head" href="">Bangkok</a>
            <p class="dest_desc">4039 hotels</p>
            <a class="des_head" href="">York</a>
            <p class="dest_desc">828 hotels</p>
            <a class="des_head" href="">London</a>
            <p class="dest_desc">14508 hotels</p>
            <a class="des_head" href="">Liverpool</a>
            <p class="dest_desc">1080 hotels</p>
        </div>

        <div class="des_cat">
            <a class="des_head" href="">Glasgow</a>
            <p class="dest_desc">139 hotels</p>
            <a class="des_head" href="">Edinburgh</a>
            <p class="dest_desc">3828 hotels</p>
            <a class="des_head" href="">Carbis Bay</a>
            <p class="dest_desc">68 hotels</p>
            <a class="des_head" href="">Brighton & Hove</a>
            <p class="dest_desc">845 hotels</p>
        </div>
    </div>
    <div id="destinations_categorie3">
        <div class="des_cat">
            <a class="des_head" href="">Al Maha Wildlife</a>
            <p class="dest_desc">1 property</p>
            <a class="des_head" href="">Burj Al Arab</a>
            <p class="dest_desc">5,531 Properties</p>
            <a class="des_head" href="">Wembley Stadium</a>
            <p class="dest_desc">15,762 Properties</p>
            <a class="des_head" href="">The Shard</a>
            <p class="dest_desc">14,683 Properties</p>

        </div>
        <div class="des_cat">
            <a class="des_head" href="">Ocean City Board</a>
            <p class="dest_desc">766 Properties</p>
            <a class="des_head" href="">State Park</a>
            <p class="dest_desc">21 Properties</p>
            <a class="des_head" href="">Kalahari WaterPark</a>
            <p class="dest_desc">43 Properties</p>
            <a class="des_head" href="">Universal Studios</a>
            <p class="dest_desc">3,684 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="">O2 Arena</a>
            <p class="dest_desc">14,057 Properties</p>
            <a class="des_head" href="">River Walk</a>
            <p class="dest_desc">651 Properties</p>
            <a class="des_head" href="">Heathrow Terminal 3</a>
            <p class="dest_desc">1,124 Properties</p>
            <a class="des_head" href="">Effifle Tower</a>
            <p class="dest_desc">7,566 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="">Portmeirion</a>
            <p class="dest_desc">9 Properties</p>
            <a class="des_head" href="">Heathrow Terminal</a>
            <p class="dest_desc">63 Properties</p>
            <a class="des_head" href="">Times Square</a>
            <p class="dest_desc">1,363 Properties</p>
            <a class="des_head" href="">Disneyland</a>
            <p class="dest_desc">247 Properties</p>
        </div>
        <div class="des_cat">
            <a class="des_head" href="">Guadalupe River</a>
            <p class="dest_desc">327 Properties</p>
            <a class="des_head" href="">Niagara Falls Sation</a>
            <p class="dest_desc">75 Properties</p>
            <a class="des_head" href="">Comal River Tubing</a>
            <p class="dest_desc">7,559 Properties</p>
            <a class="des_head" href="">Disneyland Paris</a>
            <p class="dest_desc">7,556 Properties</p>
        </div>
    </div>
</div>


<!-- Lower Search Bar -->
<div id="lower_seachbar_container">
    <p id="subs_head">Save time, save money!<p>
    <p id="subs_desc">Sign up and we'll send the best deals to you</p>
    <div>
        <input id="subs_mail" type="text" placeholder="  Your email address">
        <button id="subs_btn">Subscribe</button>
    </div>
</div>


<!-- List Your Property -->
<div id="lyp">
    <button id="lyp_btn">List your property</button>
    <hr id="lyp_line">
    <div id="lyp_msc">
        <a href="">Mobile Version</a>
        <a asp-controller="account" asp-action="login">Your account</a>
        <a href="">Make changes to your booking online</a>
        <a data-toggle="tooltip" data-placement="bottom" title="Your Reference ID is 'YAN6U71N' " href="">Customer Service Help</a>
        <a data-toggle="tooltip" data-placement="bottom" title="Become An Affliate " href="">Bacome an affliate</a>
        <a href="">Booking.com for Business</a>
    </div>
</div>